<!DOCTYPE html>
<html ng-app='dbApp'>
<head>
	<title>Double</title>
    <link rel='stylesheet' href='../bower_components/multiselect/css/multi-select.css'>
</head>
<body>

    <div ng-controller='ListController'>
        <div>json content: {{listItems}}</div>
        <div>ids: {{itemIds}}</div>
        <div>
          <button ng-click='reset()'>reset</button>
          <button ng-click='reset2()'>reset2</button>
          <button ng-click='changeResult()'>change key</button>
        </div>
        <duble-list dest-model='itemIds' origin-value='itemId' origin-text='itemName' origin='listItems' />
    </div>

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/multiselect/js/jquery.multi-select.js"></script>

    <!-- app -->
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="../dist/dblist.js"></script>

</body>
</html>
